services:
  backend:
    build: ./Back
    ports:
      - "4000:4000"
    environment:
      - DB_HOST=${DB_HOST}
      - DB_USER=${DB_USER}
      - DB_PASS=${DB_PASS}
      - DB_NAME=${DB_NAME}
      - DB_PORT=${DB_PORT}
      - PORT=4000
    networks:
      - app-network

  frontend:
    build: ./Font
    ports:
      - "3000:3000"
    networks:
      - app-network

networks:
  app-network: